/ Content Row
.row
  Update the ID of your registered device
  - if @device.errors.any?
    #error_explanation
    %h2
    = pluralize(@device.errors.count, "error")
    prohibited this device from being updated:
    %ul
    - @device.errors.full_messages.each do |message|
      %li= message
  %br
  = form_with(model: @device, local: true) do |f|
    = f.text_field :dispid
    = f.submit 'Update'