= form_with(model: contact, local: true) do |form|
  - if contact.errors.any?
    #error_explanation
      %h2
        = pluralize(contact.errors.count, "error")
        prohibited this contact from being saved:
      %ul
        - contact.errors.full_messages.each do |message|
          %li= message
		%li= :msg = "Failed"
  .field
    = form.label :fname
    = form.text_field :fname
  .field
    = form.label :lname
    = form.text_field :lname
  .field
    = form.label :cellphone
    = form.text_field :cellphone
  .actions
    = form.submit
